<div class="container">
    <div class="content col">
        <div class="sumary">
            <div>
                <h3>Nombre:</h3>
                <span>{{order.name}} </span>
            </div>
            <div>
                <h3>dirección:</h3>
                <span>{{order.address}} </span>
            </div>
        </div>  

    </div>
    <div class="map col">
        <h3>dirección de envio</h3>
    </div>
    <div class="buttons-container">
        <div class="buttons">
        </div>

    </div>
</div>