<div class="container">
    <div class="content col">
        <app-title title="Orden del Pedido" fontSize="1.6rem"></app-title>
        <form [formGroup]="checkoutForm">
            <text-input [control]="fc.name" label="Nombre"></text-input>
            <text-input [control]="fc.address" label="Direccion"></text-input>
        </form>
        <order-items-list [order]="order"></order-items-list>
    </div>
    <div class="map col">
        <app-title>
            title="Elija su dirección en el mapa"
            fontSize="1.6rem"
        </app-title>
        <map [order]="order"></map>
    </div>
    <div class="buttons-container">
        <div class="buttons">
            <button (click)="createOrder()">
                Ir a pagar
            </button>
        </div>

    </div>
</div>