*,
::before,
::after {
  box-sizing: border-box;
}


a {
  text-decoration: none;
  color: black;
}

.header {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 5px;
  transition: .5s;
  background-color: #fff;
  border: #FFA07A solid 1px
}
.profile{
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Lobster', cursive;
  font-size: 12px;
  margin-top: 5px;
}
.header_toggle {
  font-size: 1.5rem;
  cursor: pointer;
  align-items: center;
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 25px;
  margin-top: 5px;
}

.header_img img {
  width: 40px
}

.l-navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color:#FFA07A;
  transition: .5s;
  padding-right: 15px;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
  margin-bottom: 2rem
}

.nav_link {
  position: relative;
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: #FFDB58;
}

.nav_icon {
  font-size: 1.25rem
}

.brand {
  text-align: center;
  justify-content: center;
}

.logo {
  font-family: 'Lobster', cursive;
  font-size: 24px;

}

.logo-yavi {
  color: #000000;
  font-weight: bold;

}

.logo-food {
  color: #FFA07A;
}

.logo-yavi {
  color: #000000;

}

.logo-food {
  color: #FFA07A;
}