<!-- Poner los nombres en espanol siempre y cuando no sean etiquetas -->
<header>
  <div class="container">
    <a routerLink="/" class="logo">YaviFood</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menu-container">
          <a routerLink="/dashboard">Alessandro</a>
          <div class="menu">
            <a routerLink="/profile">Perfil</a>
            <a routerLink="/orders">Ordenes</a>
            <a>Salir</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Pedido <span>3</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
