<!-- Poner los nombres en espanol siempre y cuando no sean etiquetas -->
<header>
  <div class="container">
    <a routerLink="/" class="logo"><img src="/assets/logoyavifood.png" alt=""><span class="logo-yavi">Yavi</span> <span class="logo-food">Food</span> </a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li  *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Perfil</a>
            <a routerLink="/orders">Ordenes</a>
            <a (click)="logout()">Salir</a>
          </div>
        </li>
        <li>
          <a routerLink="/cart-page">
            Pedido <span *ngIf="cartQuantity">{{cartQuantity}}</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
