
header{
  position: relative;
  background: white;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding-bottom: -10px;
}

.logo{
  display: flex;
  align-items: center;
  font-family: 'Lobster', cursive;

}
.logo-yavi{
  color: #000000;
  font-weight: bold;

}
.logo-food{
  color: #FFA07A;
}


a.logo{
  font-weight: bold;
  padding: 1rem;
  font-size: 30px;
}
.logo img{
  width: 24px;
}


ul{
  display: flex;
  list-style-type: none;
}

ul a{
  padding: 0 1rem;
  display: inline-block;
  font-weight: bold;
  color: #000000;
}

ul a:hover{
  color: #1E2838;
}

ul .profile{
  color: #FFA07A;
  text-transform: uppercase;

}

ul .login{
  background-color: #FFDB58;
  border-radius:30px;
  color: black;
}

.canrQuantity{
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
  
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
  border-radius: 1px;
  padding: 10px 15px;
}

.menu-container:hover .menu{
  display: block;
  border: #FFA07A solid 1px;
}

.menu a{
  width: 100%;
  min-width:8rem;
  padding: 0.9rem;
}
.menu a:hover{
  background-color: #FFA07A;
}
.noti{
  color: red;
  padding-top: 15px;
}
.menu .btn,.btn-outline-success{
  width: 100%;
  border-radius: 0%;
  border: #FFA07A solid 1px;
  color: black;
  font-weight: bolder;
}