@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
header{
  position: relative;
  background: white;
  padding: 0;
  
}
.container{
  display: flex;
  justify-content: space-between;
  margin-right: 160px;
  margin-left: 160px;
  margin-top: 24px;
}
.logo{
  display: flex;
  align-items: center;

}
.logo-yavi{
  color: #1E2838;

}
.logo-food{
  color: #FFA07A;
}


a.logo{
  font-weight: bold;
  padding: 1rem;
  font-size: 30px;
}
.logo img{
  width: 24px;
}


ul{
  display: flex;
  list-style-type: none;
}

ul a{
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  color: #FFA07A;
}

ul a:hover{
  color: #1E2838;
}

ul .profile{
  color: #FFDB58;
  text-transform: uppercase;

}
ul .cart{
  color: #FFA07A;
  text-transform: uppercase;
}
ul .login{
  background-color: #FFDB58;
  border-radius:30px;
  color: black;
  padding: 16px 25px;
}

.canrQuantity{
  background: #FFDB58;
  color: white;
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size:0.9rem;
}

.menu-container{
  position: relative;
}

.menu{
  position:absolute;
  z-index:1;
  background:whitesmoke;
  display: none;
}

.menu-container:hover .menu{
  display: block;
}

.menu a{
  width: 100%;
  min-width:8rem;
}
