.container{
    margin-top: 8rem;
    padding: 2px 50px;
}

  .details{
    margin-bottom: 1rem;

  }
  
  .details > div{
    margin-top: 1rem;
    font-size: 1.1rem;
  }
  
  .details strong{
    display: inline-block;
    width: 20%;
  }

  
  
  