<section id="header">
  <div class="container">
      <div class="middle">
          <h1 class="text-white display-3 fw-bold">La mejor comida la encuentras en <span class="logo-yavi">Yavi</span> <span class="logo-food">Food</span>. </h1>
          <p class="text-white">Te invitamos a visitar nuestro sitio web y descubrir un oasis gastronómico en el corazón de la capital ecuatoriana. Con un menú excepcional que te transportará a un mundo de sabores exquisitos.</p>
            <a class="btn btn-outline-warning">Visitar el Menu</a>
      </div>
      
  </div>
  <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#fff" fill-opacity="1"
          d="M0,192L60,181.3C120,171,240,149,360,133.3C480,117,600,107,720,106.7C840,107,960,117,1080,122.7C1200,128,1320,128,1380,128L1440,128L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
      </path>
  </svg>
</section>
