.container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

#header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.7)),
    url("/assets/food-3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -1;
}


svg.wave {
  position: absolute;
  bottom: -70px;
}
.middle {
  height: 80vh;
  width: 70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}
.middle h1 {
  font-size: 70px;
}
.logo-yavi{
  color: #000000;
  font-weight: bold;
  font-family: 'Lobster', cursive;

}
.logo-food{
  color: #FFA07A;
  font-family: 'Lobster', cursive;
}