<div class="container">
  <div class="words">
    <p class="principal">La mejor comida del Centro Historico  esta en el <span class="yavirac">Yavirac</span></p>
    <p class="secondary">Ven y difruta de la mejor comida de la capital preparado por los mejores futuros gastronomos de la
    capital ecuatoriana, supervisados por chefs altamente experimentados.</p>
  </div>

  <div class="mosaic">
    <img class="img1" src="/assets/food-1.jpg" alt="">
    <img class="img2" src="/assets/food-2.jpg" alt="">
    <img class="img3" src="/assets/food-3.jpg" alt="">
    <img class="img4" src="/assets/food-4.jpg" alt="">
  </div>
</div>

