<div class="container row">
  <h1 class="title">Administrador de platillos</h1>
<section class="form-control row text-center col">
<div class="row">
  <div class="col">
    <label for="nombre" class="sub">Nombre:</label>
    <input class="form-control" type="text" id="nombre" [(ngModel)]="food.name" name="nombre" />
  </div>
  <div class="col">
    <label for="precio" class="sub">Precio:</label>
    <input class="form-control" type="number" id="precio" [(ngModel)]="food.price" name="precio" />
  </div>
  <div class="container row">
    <div class="col jinson">
      <h2 class="sub">Etiquetas:</h2>
      <br>
    </div>
    <div class="tags form-check">
      <!--<div for="" class="all">
        Todo
        <input type="checkbox" value="All" [(ngModel)]="tags.Todo" />
      </div> -->
      <div for="" class="col">
        <input class="form-check-input" id="uno" type="checkbox" value="All" [(ngModel)]="tags.ComidaRapida" />
        <label class="form-check-label" for="uno">
          Comida rapida
        </label>
      </div>
      <div for="" class="col">
        <input type="checkbox" class="form-check-input" id="dos" value="All" [(ngModel)]="tags.Postres" />
        <label class="form-check-label" for="dos">
          Postres
        </label>
      </div>
      <div for="" class="col">
        <input type="checkbox" class="form-check-input" id="tres" value="All" [(ngModel)]="tags.Almuerzos" />
        <label class="form-check-label" for="tres">
          Almuerzos
        </label>
      </div>
       <div for="" class="col">
        <input type="checkbox" value="All" class="form-check-input" id="cuatro" [(ngModel)]="tags.Desayunos" />
        <label class="form-check-label" for="cuatro">
          Desayunos
        </label>
      </div>
      <div for="" class="col">
        <input type="checkbox" value="All" class="form-check-input" id="cinco" [(ngModel)]="tags.Gourmet" />
        <label class="form-check-label" for="Cinco">
          Gourmet
        </label>
      </div>
      <div for="" class="col">
        <input type="checkbox" value="All" class="form-check-input" id="seis" [(ngModel)]="tags.Jugos" />
        <label class="form-check-label" for="seis">
          Jugos
        </label>
      </div>
      <div for="" class="col">
        <input type="checkbox" value="All" class="form-check-input" id="siete" [(ngModel)]="tags.Sopas" />
        <label class="form-check-label" for="siete">
          Sopas
        </label>
      </div>
    </div>
  </div>
  
  <div class="col-6">
    <label for="estrellas" class="sub">Calificacion:</label>
    <input
      type="number"
      min="1"
      max="5"
      id="estrellas"
      [(ngModel)]="food.stars"
      name="stars"
      class="form-control"
    />
  </div>
  <div class="col-6 ">
    <label for="origen" class="sub">Origen:</label>
    <input class="form-control" type="text" id="origen" [(ngModel)]="food.origins[0]" name="origin" />
  </div>
  <div class="col-6">
    <label for="imagen" class="sub">Imagen:</label>
    <input
      type="text"
      id="imagen"
      [(ngModel)]="food.imageUrl"
      name="imageUrl"
      class="form-control"
    />
  </div>

  <div class="col-6">
    <label for="tiempo" class="sub">Tiempo de cocción:</label>
    <input
      type="text"
      id="tiempo"
      [(ngModel)]="food.cookTime"
      name="cookTime"
      class="form-control"
    />
  </div>
</div>

  <form>
    <input class="button btn btn-success" type="submit" value="CREAR" (click)="createOrUpdateFood()" />
  </form>
</section>
<section>
  <table>
    <tr *ngFor="let food of foods">
      <td>{{ food.name }}</td>
      <td>{{ food.price }}</td>
      <!-- Mostrar otros campos según sea necesario -->
      <td>
        <button class="btn btn-primary" (click)="editFood(food)">Editar</button>
        <button class="btn btn-danger" (click)="deleteFood(food.id)">Eliminar</button>
      </td>
    </tr>
  </table>
</section>


</div>