<h1 class="title">Administrador de platillos</h1>
<section>

  <div>
    <label for="nombre" class="sub">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="food.name" name="nombre" />
  </div>
  <div>
    <label for="precio" class="sub">Precio:</label>
    <input type="number" id="precio" [(ngModel)]="food.price" name="precio" />
  </div>

  <div class="tags">
    <label class="sub">Etiquetas:</label> <br>
    <!--<div for="" class="all">
      Todo
      <input type="checkbox" value="All" [(ngModel)]="tags.Todo" />
    </div> -->
    <div for="">
      Comida rapida
      <input type="checkbox" value="All" [(ngModel)]="tags.ComidaRapida" />
    </div>
    <div for="">
      Postres
      <input type="checkbox" value="All" [(ngModel)]="tags.Postres" />
    </div>
    <div for="">
      Almuerzos
      <input type="checkbox" value="All" [(ngModel)]="tags.Almuerzos" />
    </div>
     <div for="">
      Desayunos
      <input type="checkbox" value="All" [(ngModel)]="tags.Desayunos" />
    </div>
    <div for="">
      Gourmet
      <input type="checkbox" value="All" [(ngModel)]="tags.Gourmet" />
    </div>
    <div for="">
      Jugos
      <input type="checkbox" value="All" [(ngModel)]="tags.Jugos" />
    </div>
    <div for="">
      Sopas
      <input type="checkbox" value="All" [(ngModel)]="tags.Sopas" />
    </div>
  </div>
  <div>
    <label for="estrellas" class="sub">Estrellas:</label>
    <input
      type="number"
      min="1"
      max="5"
      id="estrellas"
      [(ngModel)]="food.stars"
      name="stars"
    />
  </div>
  <div>
    <label for="imagen" class="sub">Imagen:</label>
    <input
      type="text"
      id="imagen"
      [(ngModel)]="food.imageUrl"
      name="imageUrl"
    />
  </div>
  <div>
    <label for="origen" class="sub">Origen:</label>
    <input type="text" id="origen" [(ngModel)]="food.origins[0]" name="origin" />
  </div>
  <div>
    <label for="tiempo" class="sub">Tiempo de cocción:</label>
    <input
      type="text"
      id="tiempo"
      [(ngModel)]="food.cookTime"
      name="cookTime"
    />
  </div>
  <form>
    <input class="button" type="submit" value="CREAR" (click)="createOrUpdateFood()" />
  </form>
</section>

