 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;

}

html{
  font-size: 16px;
  font-family: sans-serif;
  color: black;
}


html,
button{
  font-family: 'Montserrat';
}

body{margin: 0;}

a{
  text-decoration: none;
}

