.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 100px;
  }
  
  .details{
    width: 25rem;
  }
  
  .login{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .details app-title{
    text-align: center;
  }